In [45]:
import pandas as pd

# Create an empty dataframe
df = pd.DataFrame()

# Create a list of dataframes
dfs = [pd.DataFrame({'A': [1, 2], 'B': [3, 4]}), pd.DataFrame({'A': [5, 6], 'B': [7, 8]})]

# Add the dataframes in the list to the existing dataframe
df = pd.concat([df] + dfs, ignore_index=True)

# Print the result
print(df)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [46]:
df2=pd.DataFrame({'c':[6,8],'D':[0,1]})
df3=pd.DataFrame({'c':[7,9],'D':[5,9]})

frames=[df2,df3]

In [47]:
df4=pd.concat(frames,ignore_index=True)

In [48]:
print(df4)

   c  D
0  6  0
1  8  1
2  7  5
3  9  9

In [49]:
frames=[df,df4]

In [50]:
df5=pd.concat(frames,axis=1)

In [51]:
df5

   A  B  c  D
0  1  3  6  0
1  2  4  8  1
2  5  7  7  5
3  6  8  9  9